@import "../assets/css/variables.postcss";

.AppContent-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
  width: 910px;
  height: 132px;
}

.AppContent-logo {
  margin-top: 92px;
  font-size: 32px;
  font-weight: 900;
  color: $fontBlackLv1;
}

.AppContent-content {
  flex: 1;
  margin-top: 38px;
  width: 100%;
}
