.AppHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.AppHeader-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px 25px;
  width: 1000px;
}

.AppHeader-logo {
  line-height: 30px;
  font-size: 22px;
  font-weight: 900;
  color: #212121;
}

.AppHeader-link {
  padding: 0 12px;
  line-height: 30px;
  font-weight: 700;
  color: #212121;
}

.AppHeader-link:hover {
  color: #fc791c;
}
