@import "../variables.css";

.AppHeader {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  width: 100%;

  &.AppHeader--fold {
    background: $blue;

    .AppHeader-content {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .AppHeader-logo,
    .AppHeader-link {
      color: #fff;
    }
  }
}

.AppHeader-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px 25px;
  width: 1000px;
}

.AppHeader-logo {
  line-height: 30px;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 2px;
  color: $black;
}

.AppHeader-tabs {
  display: flex;
  flex-direction: row;
}

.AppHeader-tab {
  margin-right: 24px;
}

.AppHeader-link {
  line-height: 30px;
  font-weight: 700;
  color: $black;

  &:hover {
    color: $green;
  }

  &.router-link-exact-active {
    border-bottom: 1px solid $black;
  }

  &.router-link-exact-active:hover {
    border-color: $green;
  }
}
