@import "../../../assets/css/variables.postcss";

.Textarea,
.Input {
  border: 1px solid $commonBorder;
  border-radius: 3px;
  padding: 0 5px;
  font-size: 16px;
  color: $fontBlackLv1;
}

.Input {
  line-height: 1.5;
}

.Textarea {
  line-height: 1.4;
}
